*{
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-image: url(/img/pexels-min-an-1482803.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
}

.container1{
  display: flex;
  min-height: 100vh;
}

.container{
  max-width: 300px;
  margin: auto;
  border-radius: 4px;
  background-color: rgba(218, 253, 253, 0.5);
  padding: 20px;
}

input{
  display: block;
  width: 100%;
  padding: 5px;
  box-sizing: border-box; 
  margin-bottom: 10px;
}
